<header class="header">
    <div class="left-container flex-center">
        <i class="fas fa-bars" (click)="hideSideBar()"></i>
        <p>Navbar</p>
    </div>
    <div class="right-container flex-center">
        <i class="fa-regular fa-circle-user"></i>
        <div class="right-options">
            <button class="settings">Pratyush</button>
            <i class="fa-solid fa-caret-down"></i>
            <div class="dropdown-options">
                <a href="#">Settings</a>
                <a href="#">Activity Log</a>
                <hr>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</header>