footer{
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
}

.username-container{
    background-color: black;
    color: white;
    padding: 20px;
    width: 250px;
}

.username-container p{
    font-size: 1rem;
}

.static-docs{
    display: flex;
    gap: 1rem;
}
.static-docs a{
    text-decoration: none;
    color:black;
}
.static-docs a:hover{
    color: rgb(12, 140, 251);
    text-decoration: underline;
    text-underline-offset: 5px;
}