<div class="sidebar-container" [ngClass]="{'hidden':hiddeSideBar}">
    <ul class="sidebar-lists">
        <li>
            <i class="fa-solid fa-house"></i>
            <a href="">Dashboard</a>
        </li>
        <li>
            <i class="fa-solid fa-sitemap"></i>
            <a href="">Loans</a>
        </li>
        <li>
            <i class="fa-solid fa-user-group"></i>
            <a href="">Customers</a>
        </li>
        <li>
            <i class="fa-solid fa-wallet"></i>
            <a href="">Payments</a>
        </li>
        <li>
            <i class="fa-solid fa-file-invoice"></i>
            <a href="">Invoices</a>
        </li>
        <li>
            <i class="fa-solid fa-table"></i>
            <a href="">Loan Plans</a>
        </li>
        <li>
            <i class="fa-solid fa-chart-simple"></i>
            <a href="">Reports</a>
        </li>
        <li>
            <i class="fa-solid fa-gear"></i>
            <a href="">Settings</a>
        </li>
    </ul>
</div>
